---
- name: Ensure backup gem is installed
  command: 'bash -lc "gem install backup"'
  become: no

# copy backup config file
- name: Create backup file structure
  file:
    path: "{{item}}"
    owner: "{{user_name}}"
    group: www-data
    mode: 0700
    recurse: yes
    state: directory
  with_items:
    - "/home/{{user_name}}/Backup"
    - "/home/{{user_name}}/Backup/models"
    - "/home/{{user_name}}/Backup/.cache"

- name: Move config and model
  template:
    src: templates/{{item}}.rb.j2
    dest: "/home/{{user_name}}/{{item}}.rb"
    owner: "{{user_name}}"
    group: www-data
    mode: 0700
  with_items:
    - "Backup/config"
    - "Backup/models/unify"

- name: Move backup_start.sh
  template:
    src: templates/Backup/backup_start.sh.j2
    dest: "/home/{{user_name}}/Backup/backup_start.sh"
    owner: "{{user_name}}"
    group: www-data
    mode: 0700

- name: Move dropbox cache file
  copy:
    src: "templates/Backup/.cache/{{dropbox.oauth_key}}"
    dest: "/home/{{user_name}}/Backup/.cache/{{dropbox.oauth_key}}"
    owner: "{{user_name}}"
    group: www-data
    mode: 0700

- name: Check backup config
  command: 'bash -lc "backup check"'
  become: no

- cron:
    name: "nightly backup"
    minute: "0"
    hour: "3"
    job: "/home/{{user_name}}/Backup/backup_start.sh >> /home/{{user_name}}/cronlog.log 2>&1"
    user: "{{user_name}}"

# set cron job
