---
- name: copy nginx config file
  template:
    src: "templates/nginx.conf.j2"
    dest: "/etc/nginx/nginx.conf"

  notify:
    - test nginx config file
    - restart nginx

- name: install server blocks

  template:
    src: templates/default.j2
    dest: "/etc/nginx/sites-enabled/default"
    mode: 0644
    owner: root
    group: root

  notify:
    - test nginx config file
    - restart nginx
