---
- name: Install ruby dependencies
  apt:
    name: "{{item}}"
    state: installed
    update_cache: yes

  with_items:
    - git-core
    - curl
    - zlib1g-dev
    - build-essential
    - libssl-dev
    - libreadline-dev
    - libyaml-dev
    - libsqlite3-dev
    - sqlite3
    - libxml2-dev
    - libxslt1-dev
    - libcurl4-openssl-dev
    - python-software-properties
    - libffi-dev
    - nodejs
    - libmysqlclient-dev

- name: Add nodejs official repository
  shell: "curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -"

- name: Ensure nodejs is installed
  apt:
    name: nodejs
    state: installed
    update_cache: yes

# FIX ME!
# - name: Ensure mysql2 gem is installed
#   gem:
#     name: mysql2
#     version: 0.4.5
#     state: present
