---
- name: change owner of wp_dir
  file:
    path: "{{wp['root_dir']}}"
    owner: "{{lookup('env','USER')}}"
    group: "www-data"
    state: directory
    recurse: yes

- name: change wp gid
  command: find {{wp['root_dir']}} -type d -exec chmod g+s {} \;

- name: group write access to the wp-content directory
  command: chmod g+w /{{wp['root_dir']}}/wp-content

- name: make themes and plugins directories in wp-content
  file:
    path: /{{wp['root_dir']}}/wp-content/{{item}}
    state: directory
    mode: "g+w"
  with_items:
    - themes
    - plugins

- name: give the web server write access to themes and plugins
  command: chmod -R 0770 /{{wp['root_dir']}}/wp-content/{{item}}
  with_items:
    - themes
    - plugins

- name: set FS_METHOD
  lineinfile:
    dest: "/{{wp['root_dir']}}/wp-config.php"
    line: "define('FS_METHOD', 'direct');"
