wp:
  root_dir: "/var/sites/unify_wordpress"
  db: wordpress
  user: wp_user
  pw: wp_pass

hi:
  root_dir: "/home/{{user_name}}"
  db: h20
  user: h20_user
  pw: h20_pass
  secret_key: secret_key
  smtp:
    address: smtp.example.com
    domain: example.com
    password: password
    username: username
  facebook:
    id: 123
    secret: 456

mysql_root_pass: rootpass

ruby:
  ruby_version: 2.3.1
  rails_version: 5.0.1

dropbox:
  api_key: 123
  api_secret: 456
  email:

email:
  address: someone@nowhere.com
  password: 123456
  domain: nowhere.com
  user: jacob@mttechmedia.com
