wp:
  root_dir: "/var/sites/unify_wordpress"
  db: wordpress
  user: wp_user
  pw: wp_pass

hi:
  root_dir: "/home/{{user_name}}"
  db: h20
  user: h20_user
  pw: h20_pass
  secret_key: secret_key
  smtp:
    address: smtp.example.com
    domain: example.com
    password: password
    username: username
  facebook:
    id: 123
    secret: 456

mysql_root_pass: rootpass

ruby:
  ruby_version: 2.3.1
  rails_version: 5.0.1

s3:
  key_id: "key_id"
  key: "key"
  region: "us-east-1"
  bucket: "some-bucket"

slack:
  webhook: "https://hooks.slack.com/services/bunchofletters"
