wp:
  root_dir: "/var/sites/unify_wordpress"
  db: wordpress
  user: wp_user
  pw: wp_pass

unify:
  db: unify
  user: unify_user
  pw: unify_pass
  secret_key: secret_key
  smtp:
    address: smtp.example.com
    domain: example.com
    password: password
    username: username
  facebook:
    id: fb_id
    secret: fb_secret

mysql_root_pass: rootpass

ruby:
  ruby_version: 2.3.1
  rails_version: 5.0.1
