# https://github.com/ddollar/forego
# example of template that becomes .env file in rails app
ASSET_HOST: localhost:3000
APPLICATION_HOST: localhost:3000
PORT: "3000"
RACK_ENV: production
RACK_MINI_PROFILER: "0"
SECRET_KEY_BASE: {{hi.secret_key}}
EXECJS_RUNTIME: Node
SMTP_ADDRESS: {{hi.smtp.address}}
SMTP_DOMAIN: {{hi.smtp.domain}}
SMTP_PASSWORD: {{hi.smtp.password}}
SMTP_USERNAME: {{hi.smtp.username}}
WEB_CONCURRENCY: "1"

HI_DB_PASSWORD: {{hi.pw}}

FB_ID: {{hi.facebook.id}}
FB_SECRET: {{hi.facebook.secret}}

BASE_URL: "/h20-initiative"

ROLLBAR_ACCESS_TOKEN: {{rollbar.token}}
